body,
html {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: pink;
}

#board {
	/* object-fit: fill; */
	display: block;
	text-align: center;
	height: 700px;
	width: 700px;
	overflow: hidden;
	border: 0px black solid;
}

img {
	display: inline-block;
	height: 700px;
	object-fit: contain;
	object-position: 50% 50%;
	overflow: hidden;
}

h1 {
	border: 0px solid white;
	font-family: 'Grenze Gotisch', cursive;
	font-weight: 900;
	color: rgb(22, 129, 22);
	font-size: 4.5em;
}
